*{
    font-family: 'IBM Plex Sans KR', sans-serif;
    list-style : none;
    text-decoration: none;
    border-collapse: collapse;
    margin : 0px;
    padding : 0px;
}

/* Home페이지 시작 */
.Home{
    background-image : url("images/bg.jpg");
    background-size : cover;
    height:100vh;
}

.header{
    width : cover;
    height : 110px;
    display : flex; 
}

.nav{
    position: fixed;
    width : 100%;
    justify-content: flex-end;
    display : flex;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.nav > li{
    margin-left : 30px;
    margin-right : 40px;
    line-height : 65px;
    font-size : 20px;
}

.nav > li > a {
    color : white;
}

.nav>li>a:hover{
    color : blue;
}

.intro_text{
    width : 100%;
    /*마진 상우하좌*/
    margin : 330px auto 350px auto;
    text-align : center;
}

.intro_text>h1{
    color : white;
}

.intro_text>h1{
    font-size : 60px;
}

.intro_text>h4{
    font-size : 25px;
}

/*Home페이지 끝 */

/*Project 페이지 시작*/
.Project{
    background-image : url("images/bg.jpg");
    background-size : cover;
    height:100vh;
}   
/*Project 페이지 끝*/

/*Activity 페이지 시작*/
.Activity{
    background-image : url("images/bg.jpg");
    background-size : cover;
    height:100vh;
}
/*Activity 페이지 끝*/


/*About 페이지 시작*/
.About{
    display : flex;
    justify-content: space-between;
    height : 100vh;
}

.About_left{
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.About_left>img{
    margin-bottom: 350px;
    border-radius : 70%;
    border : 1px solid;
    height : 200px;
    width : 200px;
}

.About_right{
    width : 70%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.About_right_texts{
    background-color: yellow;
    font-size : 50px;
    width : 90%;
    height : 90%;
    margin-top: 60px;
}

/*About 페이지 끝*/